.advantages {
  min-width: 320px;
  margin: 0 0 40px;
  padding: 0;
  background-color: $white-background;
}

.advantages__title {
  margin: 0 20px 35px;
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: $main-font;
  text-align: left;
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0 0 0 100px;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: Arial, sans-serif;
  color: #000000;
  list-style-type: none;
}

.advantages__item {
  position: relative;
  margin: 0 0 35px;
}

.advantages__description {
  margin: 0;
  padding: 0;
}

.advantages__item--natural::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -80px;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--fast::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -80px;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--change::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -80px;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--delight::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -80px;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}
