.advantages {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 36px;
  padding: 0;
  background-color: $white-background;
}

.advantages__title {
  margin: 0 20px 35px;
  font-size: 36px;
  line-height: 1.5em;
  font-weight: 400;
  font-family: $main-font;
  text-align: left;
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0 0 0 100px;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 400;
  font-family: $extra-font;
  color: #000000;
  list-style-type: none;
}

.advantages__item {
  position: relative;
  margin: 0 0 26px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -80px;
    display: block;
    width: 60px;
    height: 60px;
  }
}

.advantages__item--natural::before {
  background-color: #68b738;
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--fast::before {
  background-color: #68b738;
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--change::before {
  background-color: #68b738;
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--delight::before {
  background-color: #68b738;
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__description {
  width: 200px;
  margin: 0;
  padding: 0;
}


@media (min-width: 768px) {
  .advantages {
    width: 708px;
    padding: 0 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__title {
    margin: 0 0 61px;
    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 61px;
    padding: 0;
    font-size: 16px;
    line-height: 1.5em;
    color: #444444;
  }

  .advantages__item {
    width: 321px;
    margin-bottom: 140px;

    &::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 0;
      display: block;
      width: 80px;
      height: 80px;
      background-color: #68b738;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(2n) {
      margin-left: 60px;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 40px;
    }
  }

  .advantages__item--natural::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  .advantages__item--fast::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  .advantages__item--change::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  .advantages__item--delight::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  .advantages__item--natural::after {
    content: "1";
    position: absolute;
    z-index: 0;
    top: 84px;
    left: 116px;
    font-size: 281px;
    font-family: $main-font;
    color: #f2f2f2;
  }

  .advantages__item--fast::after {
    content: "2";
    position: absolute;
    z-index: 0;
    top: 84px;
    left: 116px;
    font-size: 281px;
    font-family: $main-font;
    color: #f2f2f2;
  }

  .advantages__item--change::after {
    content: "3";
    position: absolute;
    z-index: 0;
    top: 84px;
    left: 116px;
    font-size: 281px;
    font-family: $main-font;
    color: #f2f2f2;
  }

  .advantages__item--delight::after {
    content: "4";
    position: absolute;
    z-index: 0;
    top: 84px;
    left: 116px;
    font-size: 281px;
    font-family: $main-font;
    color: #f2f2f2;
  }

  .advantages__description {
    position: relative;
    z-index: 1;
    width: 272px;
    margin-top: 107px;
  }
}

@media (min-width: 1440px) {
  .advantages {
    width: 1220px;
    padding: 0 110px;
    margin-bottom: 180px;
    border-bottom: none;
  }

  .advantages__list {
    justify-content: space-between;
  }

  .advantages__item {
    width: 245px;
    margin-bottom: 82px;
  }

  .advantages__item:nth-child(2n) {
    margin-left: 0;
  }
}
