.advertising {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 30px 0 32px;
  color: #111111;
  background-color: $gray-background;
}

.advertising__title {
  margin: 0 20px 28px;
  font-size: 36px;
  line-height: 1.4em;
  font-weight: 400;
  font-family: $main-font;
  text-align: left;
  color: #111111;
}

.advertising__description {
  width: 279px;
  margin: 0 20px 25px;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 400;
  font-family: $extra-font;
  text-align: left;
  color: #444444;
}

.advertising__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
}

.advertising__list {
  display: flex;
  min-width: 280px;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 33px;
  padding: 0;
  list-style-type: none;
}

.advertising__item {
  position: relative;
  width: 124px;
  height: 24px;
  padding: 10px 0 20px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.advertising__item-title {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
}

.advertising__item-info {
  display: block;
  width: 80px;
  height: 20px;
  margin: 0 auto;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.1em;
  font-weight: 400;
  font-family: $extra-font;
  text-transform: lowercase;
  text-align: center;
  color: #444444;
  background-color: $gray-background;
}

.advertising__info {
  margin: 0 auto;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.advertising__slider {
  position: relative;
  width: 320px;
  min-height: 240px;
  margin-bottom: 30px;
}

.advertising__image {
  position: absolute;
}

.advertising__image--after {
  display: none;
}

.advertising__slider-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin: 0 56px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 69px;
    z-index: 1;
    display: block;
    width: 35px;
    height: 6px;
    background-color: #68b738;
    border-radius: 2px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 62px;
    display: block;
    width: 84px;
    height: 14px;
    background-color: $white-background;
    border: 1px solid #cdcdcd;
    border-radius: 11px;
  }
}

.advertising__btn {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.advertising__btn--after {
  margin-left: 103px;
}

@media (min-width: 768px) {
  .advertising {
    width: 768px;
    padding: 0;
    background-color: $white-background;
  }

  .advertising__title {
    margin: 0 30px 53px;
    font-size: 60px;
  }

  .advertising__description {
    width: 702px;
    margin: 0 30px 51px;
    padding-right: 8px;
    font-size: 16px;
    line-height: 1.5em;
  }

  .advertising__wrapper {
    align-items: baseline;
    margin: 0 30px 254px;
  }

  .advertising__list {
    justify-content: flex-start;
    width: 70%;
    margin: 0;
  }

  .advertising__item {
    width: 162px;
    min-height: 40px;
    margin-right: 40px;
    padding: 14px 0 20px;
  }

  .advertising__item-title {
    font-size: 30px;
  }

  .advertising__item-info {
    position: relative;
    top: 9px;
    display: inline;
    padding: 0 8px;
    font-size: 14px;
    white-space: nowrap;
    background-color: $white-background;
  }

  .advertising__info {
    width: 25%;
    margin: auto;
    margin-right: 0;
    font-size: 20px;
    text-align: right;
  }

  .advertising__slider-wrapper {
    position: relative;
    padding-bottom: 65px;
    text-align: center;
    background-color: $gray-background;
  }

  .advertising__slider {
    width: auto;
    min-height: 348px;
    margin-bottom: 14px;
  }

  .advertising__image {
    position: relative;
    width: 657px;
    height: 514px;
    margin-top: -167px;
  }

  .advertising__image--after {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 65px;
  }

  .advertising__slider-button {
    width: 575px;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      left: 269px;
      display: block;
      width: 34px;
      height: 34px;
      background-color: $white-background;
      border: 1px solid #dcdcdc;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 70px;
      display: block;
      width: 428px;
      height: 6px;
      background-color: #dcdcdc;
      border: 1px solid #dcdcdc;
      border-radius: 2.5px;
    }
  }

  .advertising__btn {
    padding: 0 0 5px;
    font-size: 20px;
    background-color: $gray-background;
    border: none;
    border-bottom: 1px dotted #bebebe;
  }
}

@media (min-width: 1440px) {
  .advertising {
    position: relative;
    width: 1440px;
    padding: 0 110px 70px;
    background-color: $gray-background;
  }

  .advertising__title {
    position: relative;
    top: -146px;
    margin: 0;
    margin-bottom: -13px;
  }

  .advertising__description {
    width: 432px;
    margin: 0;
    margin-bottom: 67px;
    padding-right: 0;
  }

  .advertising__wrapper {
    flex-wrap: wrap;
    width: 366px;
    margin: 0;
  }

  .advertising__list {
    margin-bottom: 52px;
  }

  .advertising__item:last-child {
    margin-right: 0;
  }

  .advertising__item-title {
    display: block;
    width: 163px;
  }

  .advertising__item-info {
    background-color: $gray-background;
  }

  .advertising__info {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin: 0;
  }

  .advertising__image {
    margin-top: -17px;
  }

  .advertising__slider-wrapper {
    position: absolute;
    top: -170px;
    right: 100px;
    background-color: transparent;
  }

  .advertising__slider {
    margin-bottom: 34px;
  }

  .advertising__slider-button {
    margin-left: 74px;
  }
}
