.banner {
  position: relative;
  min-width: 320px;
  margin: 0 0 60px;
  padding: 0;
  background-color: $white-background;
}

.banner__link {
  display: block;
  margin: 0 20px;
  padding: 0;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 63px;
    left: 130px;
    width: 55px;
    height: 60px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.banner__info {
  position: absolute;
  left: 75px;
  bottom: 35px;
  width: 170px;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ffffff;
}
