.banner {
  position: relative;
  width: 320px;
  margin: 0 0 32px;
  padding: 0;
  background-color: $white-background;
}

.banner__link {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 66px;
    left: 133px;
    z-index: 9;
    width: 55px;
    height: 60px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.banner__info {
  position: absolute;
  left: 75px;
  bottom: 32px;
  z-index: 9;
  width: 170px;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: $extra-font;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .banner {
    position: relative;
    width: 708px;
    margin-bottom: 72px;
    padding: 0 30px;
  }

  .banner__link {
    &::before {
      top: 65px;
      left: 121px;
    }
  }

  .banner__image {
    width: 708px;
    height: 200px;
  }

  .banner__info {
    left: 453px;
    bottom: 58px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .banner {
    position: relative;
    top: -368px;
    left: 1055px;
    width: 245px;
    margin: 0;
    padding: 0;
  }

  .banner__link {
    position: absolute;
    top: -7px;
    left: 28px;

    &::before {
      left: 96px;
    }
  }

  .banner__image {
    width: 245px;
    height: 289px;
  }
  .banner__info {
    left: 67px;
    bottom: -253px;
    text-align: center;
  }
}
