.button {
  z-index: 10;
  display: block;
  margin: 0;
  padding: 13px 0;
  width: 280px;
  font-size: 14px;
  line-height: 1em;
  font-weight: 400;
  font-family: $main-font;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  border: none;
}
