.check-form {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 0 31px;
  color: $text-color;
  background-color: $white-background;
}

.check-form__group {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 5px;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
  color: #222222;
  border: none;
  border-bottom: 1px solid #ededed;

  &:nth-child(n+3)::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 18px;
    right: 1px;
    width: 50%;
    height: 3px;
    background-color: #68b738;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.check-form__item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 14px;
}

.tasks-info {
  margin-bottom: 21px;
  padding: 29px 0 0 19px;
}

.tasks-info .check-form__item {
  margin-bottom: 24px;
}

input:not([type="radio"]):not([type="checkbox"]) {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin-left: 10px;
  padding: 15px 13px;
  font-size: 16px;
  line-height: 1em;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e6e6e6;
  outline: none;

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border-color: #444444;
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    border-color: #ff8282;
  }
}

.tasks-info label {
  padding-left: 47px;

  &:active {
    opacity: 0.3;
  }
}

.check-form__radiobox {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: -8px;
  margin-left: -47px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;

  &:hover,
  label:hover & {
    border-color: #bcbcbc;
  }

  &:active {
    opacity: 0.3;
  }
}

.other-info label {
  padding-left: 41px;

  &:active {
    opacity: 0.3;
  }
}

input[type="radio"]:checked + .check-form__radiobox {
  background-image: url("../img/radiobutton-active.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.check-form__checkbox {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-top: -4px;
  margin-left: -46px;
  border: 1px solid #cdcdcd;

  &:hover,
  label:hover & {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }
}

input[type="checkbox"]:checked + .check-form__checkbox {
  background-image: url("../img/tick.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.check-form__title {
  position: relative;
  z-index: 10;
  max-width: 181px;
  margin: 0;
  padding: 6px 20px 12px 0;
  font-size: 24px;
  line-height: 1em;
  font-weight: 400;
  font-family: $main-font;
  text-transform: none;
  color: #111111;
  background-color: $white-background;
}

.contacts-info {
  & .check-form__title {
    padding-top: 5px;
  }

  & label {
    display: flex;
    align-items: baseline;
    width: 100%;
  }
}

.contacts-info__email-icon {
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 15px;
    width: 17px;
    height: 13px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
  }

  input:active + &::after {
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 17 13' viewBox='0 0 17 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m15.6 11.6h-14.2v-5.8h-1.4v7.2h17v-7.2h-1.4zm-15.6-11.6v2.3l8.5 7.1 8.5-7.1v-2.3zm15.6 1.6-7.1 5.9-7.1-5.9v-.2h14.2z' fill='%2368b738'/%3E%3C/svg%3E");
  }

  input:invalid:not(:focus):not(:placeholder-shown) + &::after {
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 17 13' viewBox='0 0 17 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m15.6 11.6h-14.2v-5.8h-1.4v7.2h17v-7.2h-1.4zm-15.6-11.6v2.3l8.5 7.1 8.5-7.1v-2.3zm15.6 1.6-7.1 5.9-7.1-5.9v-.2h14.2z' fill='%23ff8282'/%3E%3C/svg%3E");
  }
}

.contacts-info__tel-icon {
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 11px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }

  input:active + &::after {
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 20 20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17.9 9.4h-8.5v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9z' fill='%2368b738'/%3E%3Cpath d='m8.1 19.4v-6.2c0-.3-.3-.6-.6-.6h-3.1-1.3c0 .7.6 1.2 1.2 1.2h2.5v5h-3.7c-1 .1-1.8-.7-1.9-1.7 0-.1 0-.1 0-.2v-13.8c0-1 .8-1.8 1.7-1.8h.2 3.7v5h-2.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6v-6.3c-.1-.3-.4-.6-.7-.6h-4.4c-1.6-.1-3 1.2-3.1 2.9v.2 13.7c-.1 1.7 1.2 3.1 2.9 3.1h.2 4.4c.3.1.6-.2.6-.5z' fill='%2368b738'/%3E%3C/svg%3E");
  }

  input:invalid:not(:focus):not(:placeholder-shown) + &::after {
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 20 20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17.9 9.4h-8.5v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9z' fill='%23ff8282'/%3E%3Cpath d='m8.1 19.4v-6.2c0-.3-.3-.6-.6-.6h-3.1-1.3c0 .7.6 1.2 1.2 1.2h2.5v5h-3.7c-1 .1-1.8-.7-1.9-1.7 0-.1 0-.1 0-.2v-13.8c0-1 .8-1.8 1.7-1.8h.2 3.7v5h-2.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6v-6.3c-.1-.3-.4-.6-.7-.6h-4.4c-1.6-.1-3 1.2-3.1 2.9v.2 13.7c-.1 1.7 1.2 3.1 2.9 3.1h.2 4.4c.3.1.6-.2.6-.5z' fill='%23ff8282'/%3E%3C/svg%3E");
  }
}

.check-form__group.your-info {
  margin-bottom: 21px;
}

.your-info__comment {
  box-sizing: border-box;
  width: 280px;
  margin: 0;
  padding: 18px 0 0 15px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e6e6e6;
}

.other-info {
  border: none;
}

.other-info .check-form__title {
  margin-bottom: 7px;
}

.other-info .check-form__item {
  margin-bottom: 23px;
  padding-left: 5px;
}

.check-form__btn {
  margin: 40px 0 22px;
  font-size: 16px;
}

.check-form__info {
  display: block;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: $extra-font;
  text-align: center;
  text-transform: none;
  color: #444444;
}

@media (min-width: 768px) {
  .check-form {
    width: 768px;
    margin-bottom: 30px;
  }

  .check-form__group {
    margin-bottom: 10px;
    padding: 0 69px 40px;
    font-size: 20px;
    border: none;

    &:nth-child(n+3)::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 25px;
      right: 1px;
      width: 100%;
      height: 3px;
      background-color: #68b738;
    }

    & input:not([type="radio"]):not([type="checkbox"]) {
      height: 52px;
      padding: 15px 23px;
      font-size: 20px;
    }
  }

  .check-form__item {
    margin-bottom: 20px;

    & label {
      padding-left: 3px;
    }
  }

  .tasks-info {
    margin: 0 69px 70px;
    padding: 30px 17px 22px;
    border: 1px solid #e6e6e6;

    & label {
      padding-top: 2px;
      padding-left: 70px;
    }

    & .check-form__item {
      margin-bottom: 27px;
    }

    & .check-form__item:last-child {
      margin-bottom: 11px;
    }
  }

  .check-form__radiobox {
    width: 38px;
    height: 38px;
    margin-top: -8px;
    margin-left: -59px;
  }

  .check-form__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .your-info__comment {
    width: 630px;
    height: 174px;
    padding-top: 14px;
    padding-left: 20px;
    font-size: 20px;
  }

  .contacts-info {
    margin-bottom: 3px;
  }

  .contacts-info__email-icon {
    &::after {
      top: 20px;
      right: 17px;
    }
  }

  .contacts-info__tel-icon {
    &::after {
      top: 17px;
      right: 14px;
    }
  }

  .other-info {
    & .check-form__item {
      box-sizing: border-box;
      width: 50%;
      margin-bottom: 48px;
    }

    & .check-form__item:nth-child(2n) {
      padding-left: 30px;
    }

    & .check-form__title {
      margin-bottom: 13px;
    }

    & label {
      padding-left: 56px;
    }

    & .check-form__wrapper {
      flex-direction: row;
      padding-top: 53px;
    }
  }

  .check-form__checkbox {
    width: 38px;
    height: 38px;
    margin-top: -8px;
    margin-left: -59px;
  }

  input[type="checkbox"]:checked + .check-form__checkbox {
    background-size: 60%;
  }

  .check-form__title {
    max-width: 513px;
    margin-left: -39px;
    margin-bottom: 76px;
    padding: 0 39px;
    font-size: 36px;
  }

  .check-form__btn {
    width: 285px;
    margin: 0;
    margin-top: 15px;
    padding: 16px 0;
    font-size: 20px;
  }

  .check-form__info {
    align-self: center;
    margin-top: 12px;
    margin-right: 105px;
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .check-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1440px;
    margin-bottom: 0;
  }

  .check-form__group {
    margin-bottom: 50px;
    padding: 0 110px;
  }

  .check-form__item {
    margin-bottom: 20px;
  }

  .check-form__title {
    margin-bottom: 69px;
  }

  .main-info {
    width: 570px;
    margin-right: 0;
    margin-left: 110px;
    padding: 0;
  }

  .tasks-info {
    box-sizing: border-box;
    width: 570px;
    height: 194px;
    margin: 0;
    margin-right: 110px;
    padding: 27px 18px;

    & .check-form__item {
      margin-bottom: 30px;
    }
  }

  .contacts-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & .check-form__wrapper {
      flex-direction: row;
    }

    & .check-form__item {
      width: 570px;
    }
  }

  .your-info {
    width: 100%;

    &.check-form__group {
      margin-bottom: 69px;
    }
  }

  .your-info__comment {
    width: 1220px;
  }

  .other-info {
    width: 100%;

    & .check-form__item {
      width: 245px;
      margin-bottom: 50px;
    }

    & .check-form__item:nth-child(2n) {
      padding-left: 0;
    }
  }

  .check-form__btn {
    width: 568px;
  }

  .check-form__info {
    width: 570px;
    margin-right: 0;
    text-align: left;
  }
}
