.offer {
  width: 320px;
  min-height: 460px;
  margin: 0 0 20px;
  padding: 30px 0 0;
  background-color: $white-background;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.offer__title {
  margin: 0 0 20px;
  font-size: 36px;
  line-height: 1em;
  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.offer__info {
  margin: 0 0 35px;
  font-size: 14px;
  line-height: 1em;
  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.offer__image {
  margin: 0 20px 5px;
}

.offer__btn {
  margin: 0 20px;
}
