.offer {
  width: 320px;
  min-height: 460px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  background-color: $white-background;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.offer__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.offer__title {
  margin: 0 0 25px;
  padding: 26px 0 0;
  font-size: 36px;
  line-height: 1em;
  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.offer__info {
  margin: 0 0 28px;
  font-size: 14px;
  line-height: 1em;
  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.offer__image {
  margin: 0 0 -1px;
}

.offer__btn {
  margin: 0;
}

@media (min-width: 768px) {
  .offer {
    width: 768px;
    min-height: 735px;
    margin-bottom: 103px;
    background-image: none;
  }

  .offer__wrapper {
    width: 708px;
    margin: 0 30px;
  }

  .offer__title {
    display: block;
    width: 428px;
    margin: 0 0 42px;
    padding-left: 87px;
    font-size: 60px;
    text-align: left;
    color: $text-color;
  }

  .offer__info {
    position: relative;
    z-index: 10;
    margin: 0 0 50px;
    padding-left: 88px;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    color: $text-color;
  }

  .offer__btn {
    position: relative;
    z-index: 10;
    width: 245px;
    margin-top: -583px;
    margin-left: 89px;
    padding: 16px 0;
    font-size: 20px;
  }

  .offer__image {
    width: 709px;
    height: 609px;
    margin-top: -30px;
  }
}

@media (min-width: 1440px) {
  .offer {
    width: 1440px;
    min-height: 690px;
    margin-top: -118px;
    margin-bottom: 86px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;

  }

  .offer__wrapper {
    width: 531px;
    margin: 0;
    padding-top: 221px;
    padding-left: 190px;
  }

  .offer__title {
    margin-bottom: 40px;
    padding: 0;
  }

  .offer__info {
    margin-bottom: 44px;
    padding: 0;
  }

  .offer__image {
    width: 552px;
    height: 499px;
    margin-top: -303px;
    margin-left: 371px;
  }

  .offer__btn {
    margin-top: -190px;
    margin-left: 0;
  }
}
