.page-main {
  width: 320px;
  margin: 0;
  padding: 0;
  color: $text-color;
  background-color: $white-background;
}

.page-main__title {
  margin: 0;
  padding: 30px 20px 40px;
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: $main-font;
  color: $text-color;
  text-align: left;
}

.page-catalog .page-main__title {
  border-bottom: 1px solid #ededed;
}

.page-main__description {
  margin: 0 0 40px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
  text-align: left;
}
