.page-main {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  color: $text-color;
  background-color: $white-background;
}

.page-main__title {
  margin: 0;
  padding: 22px 20px 34px;
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: $main-font;
  color: $text-color;
  text-align: left;
}

.page-catalog .page-main__title {
  border-bottom: 1px solid #ededed;
}

.page-main__description {
  margin: 0 0 19px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
  text-align: left;
}

@media (min-width: 768px) {
  .page-main {
    width: 768px;
  }

  .page-main__title {
    margin-bottom: 33px;
    padding: 21px 30px;
    font-size: 60px;
  }

  .page-catalog .page-main__title {
    margin-bottom: 136px;
    border-bottom: none;
  }

  .page-main__description {
    width: 330px;
    margin-bottom: 70px;
    padding-left: 69px;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .page-main {
    width: 1440px;
  }

  .page-main__title {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 55px;
    padding: 0;
  }

  .page-catalog .page-main__title {
    margin-bottom: 157px;
  }

  .page-main__description {
    padding-left: 110px;
  }
}
