.page-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 10px 20px 0;
  background-color: $white-background;
  border-bottom: 1px solid #ededed;
}

.page-header__logo {
  z-index: 10;
  width: 191px;
  height: 38px;
  margin-bottom: 12px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: 768px) {
  .page-header {
    width: 768px;
    margin-bottom: 3px;
    padding: 20px 30px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
  }

  .page-header__logo img {
    width: 173px;
    height: 58px;
    margin-top: 4px;
  }
}

@media (min-width: 1440px) {
  .page-header {
    width: 1440px;
    margin-bottom: 63px;
    padding: 56px 111px 0;
  }

  .page-index .page-header {
    margin-bottom: 0;
  }

  .page-header__logo img {
    width: 202px;
    height: 59px;
    margin-top: -6px;
  }
}
