.product {
  width: 320px;
  margin: 0 auto;
  color: $text-color;
  background-color: $white-background;
}

.product__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 24px 20px;
  border-bottom: 1px solid #ededed;
}

.product__item--all {
  padding: 80px 20px 25px;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 145px;
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
  }
}

.product__name {
  margin: 0 0 10px;
  padding: 0 45px 0 140px;
  font-size: 16px;
  line-height: 1.1em;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
}

.product__image {
  position: absolute;
  top: 0;
  left: 20px;
  width: 140px;
  height: 144px;
}

.product__detail {
  min-width: 140px;
  margin: 0 0 22px;
  padding: 0 0 0 50%;
  font-size: 12px;
  line-height: 1em;
  font-weight: 400;
  font-family: $extra-font;
  color: #444444;

  & .product__value {
    padding: 0;
    text-align: right;
  }
}

.product__item--all .product__name {
  width: 100%;
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
}

.product__info {
  width: 100%;
  margin: 0 0 20px;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
  font-family: $extra-font;
  text-align: center;
  color: #444444;
}

.product__btn--all {
  font-size: 16px;
  color: #444444;
  background-color: $gray-background;

  &:hover {
    background-color: #ebebeb;
  }
}

@media (min-width: 768px) {
  .product {
    width: 708px;
  }

  .product__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product__item {
    align-items: center;
    width: 248px;
    margin-bottom: 140px;
    padding: 161px 38px 40px;
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: none;

    &:nth-last-child(-n+2) {
      margin-bottom: 57px;
    }

    &:nth-of-type(2n-1) .product__image {
      position: absolute;
      top: -47px;
      left: 0;
      width: 324px;
      height: 174px;
    }

    &:nth-of-type(2n) .product__image {
      position: absolute;
      top: -82px;
      left: 0;
      width: 324px;
      height: 208px;
    }
  }

  .product__name {
    width: 130px;
    margin-bottom: 18px;
    padding: 0;
    font-size: 20px;
  }

  .product__detail {
    width: 100%;
    margin-bottom: 35px;
    padding: 0;
    font-size: 16px;
    border-collapse: collapse;

    & td {
      padding: 7px 0;
      text-align: left;
      border-bottom: 1px solid #cdcdcd;
    }

    & .product__value {
      text-align: right;
    }
  }

  .product__item--all {
    padding: 161px 38px 40px;
    background-color: $white-background;
    border: 1px solid #e6e6e6;

    &::after {
      content: "";
      position: absolute;
      top: 55px;
      left: 134px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
    }

    & .product__name {
      width: 145px;
      margin-bottom: 23px;
    }

    & .product__info {
      width: 220px;
      margin-bottom: 87px;
      font-size: 16px;
    }
  }

  .product__btn {
    width: 249px;
  }
}

@media (min-width: 1440px) {
  .product {
    width: 1220px;
  }

  .product__item {
    width: 169px;
    padding: 165px 38px 40px;

    &:nth-last-child(-n+4) {
      margin-bottom: 65px;
    }

    &:nth-of-type(2n-1) .product__image {
      position: absolute;
      top: -41px;
      width: 245px;
      height: 172px;
    }

    &:nth-of-type(2n) .product__image {
      position: absolute;
      top: -76px;
      width: 245px;
      height: 208px;
    }
  }

  .product__item--all {
    &::after {
      position: absolute;
      top: 55px;
      left: 93px;
    }
  }

  .product__btn {
    width: 169px;
  }
}
